
/* 
<uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 
 */

 body {
    background-color:#FFF9EC!important;
 }
  
.logo {
    display: inline;
    height:auto;
}

@media (max-width:768px) {
    .logo {
        width: 100px;
        height:auto;
    }
}


.alpha-banner {
    display: inline;
    border-radius: 10px;
    background: #3D550C;
    padding: 5px 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 86px;
    height: 33px;
    flex-shrink: 0;
  }

.break-line {
    color: #ACACAC;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar-nav {
    display: flex;
    align-items:flex-end;
}

.navbar-nav .nav-link {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px !important;
}

.navbar-nav .nav-item {
    margin-right: 8px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

.hero-text {
    font-family: "Inter";
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(147deg, #4A7212 45.2%, #6BA51A 61.74%, #7CBE1E 72.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .hero-image{
    display: inline-block;
    max-width: 100%;
    height:auto;
    flex-shrink: 0;
 }

 .about-image{
    display: inline-block;
    width: auto;
    height:auto;
    flex-shrink:inherit;
 }


 .h4-card{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    color: #3d550c;

 }

 .p-card{
    text-align: center;
 }

 .custom-margin{
    margin: auto;
 }

.kudos{
    font-size: 16px;
    color: #000;
    margin-bottom: 4px;
}

.last-update {
    color: #767676;
}

.page-head {

    font-size: 54px;
    font-weight: 800;
    color: #3d550c;
}

.page-subhead {
    font-size: 24px;
    font-weight: 200;
}

.about-image {
    display: block;
    max-width: 100%;
    height:auto;
    max-height:500px;

}

/* utility classes */
.text-align-right {
    text-align: right;
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.button-style {
    color:#3D550C;
  }

img {
    max-width: 100%;
    max-height: 100%;
}

/* custom buttons */
/* Custom styles for GitHub button */

.btn-github {
    background-color: #333 !important;
    border-color: #c8e1ff !important;
  }
  
.btn-linkedin {
    background-color: #0a66c2 !important;
    border-color: #0a66c2 !important;
  }
  
.btn-github,
  .btn-linkedin {
    color: #fff; /* Text color */
  }
  