<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/assets/img/signpost.png">
  <!--Google Analytics Script-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FPZ4SZV14K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-FPZ4SZV14K');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikelah!</title>


    <!--Link to Bootstrap and Popper Framework-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <!--Link to custom styles-->
    <link rel="stylesheet" href="/css/hikelah_style.css">

    <!--Link to Google Font API for custom fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!--Link to script.js-->
    <script src="/js/script.js"></script>
    
</head>

<body>
  <!--Render the partials for navbar as this is a recurring element in every page-->
  <%- include('partials/navbar.ejs'); %>

  <div class="container alert alert-secondary alert-dismissible fade show" role="alert">
    <strong>v1.0.9 Release Notes (26 May):</strong> Bug fixes in explore page, added presentation deck for Techup that can be found in <b>About Me</b>, minor UI improvements to map tips.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="hero-text">Plan hikes</h1>
        <h1 class="hero-text">with ease!</h1>
        <p class="hero-subtext">Start exploring with Hikelah! Your one-stop local hiking companion for Singapore’s Park Connector Network, outdoor trails, and much more!</p>
        <a href="/explore" class="btn btn-primary hero-button mt-3"> Get Started </a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">

          <img class="hero-image img-fluid" src="/assets/img/hikers.png" alt="image of a hiking trail in Singapore " />
      </div>
    </div>
  </div>
  <br />
  <div class="container"> 
    <p>Tired of walking the same paths? Unfamiliar with Singapore's trails? Plan your journey with ease with our...</p>
  </div>

  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 custom-margin"> 
        <img class="card-image center image-fluid" src="/assets/img/recommend.png" alt="recommended image" />
      <h4 class="h4-card"><a class="no_style_card" href="/explore">Discover Trails</a></h4>
      <p class="p-card">Learn about Singapore's major trails and park connector networks with our "Explore page". Easy to consume information on distance, time and cool animals and plants to see</p>
      </div>
      <div class="col-md-3 col-sm-6 custom-margin">
        <img class="card-image center image-fluid" src="/assets/img/map.png" alt="map image" />
        <h4 class="h4-card"><a class="no_style_card" href="/explore">Interactive Map</a></h4>
      <p class="p-card">Want to see where the trails lead to? Check out our custom maps to plan your hike, look out for near by public transport, cool landmarks and even places to eat!</p>
      </div>
      <div class="col-md-3 col-sm-6 custom-margin">
        <img class="card-image center image-fluid" src="/assets/img/path.png" alt="path image"/>
        <h4 class="h4-card"><a class="no_style_card" href="/useful-links">Useful Links</a></h4>
        <p class="p-card">Can't find what you are looking for? Do not fret, check out some useful links that Hikelah recommends for more detailed information</p>
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs'); %>



</body>
</html>