
 body {
    background-color:#FFF9EC!important;
    font-family: "Inter", sans-serif !important;
 }
  
.logo {
    display: inline;
    width:auto;
    height: 70px;
    max-width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .logo {
        width: 80px; /* Smaller width for tablets and below */
        height: auto;
    }
}

/* media query for mobile devices */
@media (max-width: 576px) {
    .logo {
        width: 60px;
        height: auto;
    }
}

/* Navbar Styles */
    .navbar {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    .navbar-brand {
        padding-left:0 !important;
        margin-left:0 !important;
        width:auto;
        max-width: 100%;
        display:flex;
        align-items: center;
    }

    .navbar-toggler {
        margin-left:auto;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .navbar-nav .nav-link {
        font-size: 18px;
        color: #2D3748 !important;
        text-decoration: none;
        padding: 10px 20px !important;
    }

    .navbar-nav .nav-item {
        margin-right: 8px;
    }

    .collapse.navbar-collapse {
        justify-content: flex-end; 
    }

    .collapse .navbar-nav {
        flex-direction: column;
        align-items: flex-end;
    } 

    .navbar-nav .nav-link:hover {
        text-decoration: underline;
        font-weight: bold;
    }

/* Hero container */
    .hero-text {
        font-family: "Inter";
        font-size: 54px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background: linear-gradient(147deg, #4A7212 45.2%, #6BA51A 61.74%, #7CBE1E 72.66%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero-image{
        display: inline-block;
        max-width: 100%;
        height:auto;
        flex-shrink: 0;
    }

    .about-image {
        display: block;
        max-width: 100%;
        height:auto;
        max-height:500px;
    }

    .hero-button {
        background-color: #3D550C !important;
        border: 0;
        border-radius: 15px;
        border-color:#4A7212 !important;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 0 0.5em;
        font: 400 18px 'Inter', Arial, sans-serif;
        color: white;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
    }

    .hero-button:hover {
        background: #4A7212 !important;
    }

/* Card Styles */

    .h4-card{
        text-align: center;
        font-size: 26px;
        font-weight: 800;
        color: #3d550c;
    }

    .problem-statement {
        color: #3d550c !important;
    }

    .thin {
        font-weight: lighter;
    }

    .image-container-card {
        height: 150px; /* Adjust the height as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 15px; /* Add some space between the image and text */
    }

    .image-container-card img {
        max-height: 100%;
        max-width: 100%;
        object-fit:cover;
    }

    .p-card{
        text-align: center;
    }

    .card {
        cursor: pointer;
        border: 2px solid transparent;
        transition: border-color 0.3s;
        border-radius: 12px !important;
        overflow:hidden;
    }
    
    .card:hover {
        border-color: #3D550C;
    }

    .search-card-flex {
        flex-direction: column;
    }

    @media (min-width: 1000px) {
        .search-card-flex { /* Smaller width for mobile devices */
            flex-direction: row;
        }
    }


    
/* Page header/footer */

.kudos{
    font-size: 16px;
    color: #000;
    margin-bottom: 4px;
}

.last-update {
    color: #767676;
}

.page-head {

    font-size: 54px;
    font-weight: 800;
    color: #3d550c;
}

.center-page-head {
    text-align: center;
}

.page-subhead {
    font-size: 24px;
    font-weight: 200;
}

/* utility classes */
    .text-align-right {
        text-align: right;
    } 

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .button-style {
        color:#3D550C;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .custom-margin{
        margin: auto;
    }
    
    .break-line {
        color: #ACACAC;
    }

    a.no_style {
        all: unset;
        display: inline; 
        text-decoration: none; 
      }

      a.no_style_card {
        all: unset;
        display: inline;
        cursor: pointer;
        color: inherit;
        font: inherit; 
    }
    
    h4.h4-card a.no_style_card {
        text-decoration: none; /* Remove underline */
    }
    
    h4.h4-card a.no_style_card:hover {
        text-decoration: underline; 
    }

    .mytooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }

    .mytooltiptext {
        visibility: hidden;
        font-family: inherit;
        color: white;
        width: 120px;
        background-color: #333;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        position: absolute;
        z-index: 1051;
        bottom: 125%; /* Position the tooltip above the text */
        left: 50%;
        margin-left: -60px; 
      }

      .mytooltip:hover .mytooltiptext {
        visibility: visible;
      }

/* Custom Buttons */

    /* Social Media */

    .btn-github {
        background-color: #333 !important;
        border-color: #323232 !important;
    }
    
   .btn-linkedin {
        background-color: #0a66c2 !important;
        border-color: #0a66c2 !important;
    }
    
    .btn-github,
    .btn-linkedin {
        color: #fff; 
    }


  /* map UI */
    #map {
        height: 600px !important;
        width:auto;
    }

    .custom-map-control-button {
        background-color: #3D550C;
        border: 0;
        border-radius: 15px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px 'Inter', Arial, sans-serif;
        color: white;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
    }
    .custom-map-control-button:hover {
        background: #4A7212;
    }

    /* disclaimer style */
    .disclaimer-card {
        font-size: 10px !important;
        color: #a9a9a9;;
    }

    .gm-svpc div {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: left;
        }

    /* search basic styles */

    .filter-card {
        padding: 32px;
        margin: relative;
        width:auto;
    }

    .dropdown-menu {
        z-index: 1051;
    }
    .dropdown-menu .form-check {
        margin-left: 8px;
    }

    .custom-dropdown {
        display: inline-block;
        margin-right: 8px;
    }
    
    .custom-dropdown .dropdown-toggle {
        color: #3D550C;
        background-color: transparent;
        border: 2px solid #3D550C;
    }

    .custom-dropdown .dropdown-toggle:hover, 
    .custom-dropdown .dropdown-toggle:focus, 
    .custom-dropdown .dropdown-toggle:active, 
    .custom-dropdown .dropdown-toggle.show {
        background-color: #3D550C;
        color: white;
        border-color: #3D550C;
}
    
    .custom-dropdown .dropdown-menu {
        width: 100%;
    }

    .custom-dropdown .form-check-input:checked {
        background-color: #6BA51A;
        border-color: #6BA51A;
    }
    
    .search .search-card-link {
        text-decoration: none;
        color: inherit;
    }
    
    .search .search-card-title {
        font-size: 36px;
        font-weight: bold;
        font-family: "Inter", sans-serif;
    }
    
    .search .search-card-table td, 
    .search .search-card-table th {
        border: none;
        width: 33.33%; 
    }
    
    .search .search-card-img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    .search .search-subtext {
        font-size: 0.875rem;
        color: #2D3748;
    }

    .search .search-header-subtext {
        font-size: 0.875rem; 
        font-style: italic; 
        font-weight: 300; 
        color: #6c757d; 
        margin-bottom: 0.25em; 
    }

    .search .search-icon {
        font-size: 1.25em;
        color: #3D550C;
        margin: 0 8px 8px 0; 
    }

    .search .pill {
        padding: 0.25em 0.75em;
        background-color: #6BA51A;
        color: white;
        border-radius: 15px; 
        display: inline-block; 
        margin: 4px; 
    }

    .search .pill:first-child {
        margin-left:0;
    }

    .search .highlight-text {
        font-weight: bold;
        color: #3D550C;
    }
    
    
    .search .card-body {
        display: flex;
        align-items: flex-start;
    }
    
    
    .search .card-body .col-md-8 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 66.67%; 
        padding-left: 16px;
        box-sizing: border-box;
    }

    .filter-pill {
        background-color:#6BA51A;
        color: white; 
        border-radius: 25px;
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
    }


    